<!DOCTYPE html>
<html lang="pt-br">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css" >
    <title>Ponto Eletronico</title>
</head>

<body>

    <div class="container">
       

        <form action="../controller/registro_controller.php?action=registrar" method="post">

            <label for="">Matricula</label>
            <input type="text" name="matricula" id="">

            <label for="">Horario</label>
            <input type="datetime" name="horario" id="horaAqui"> 
            
            <label for="">Tipo</label>
            <Select name="tipo">
                <option value="1">Entrada-Manhã</option>
                <option value="2">Saída-Manhã</option>
                <option value="3">Entrada-Tarde</option>
                <option value="4">Saída-Tarde</option>
            </Select>

            <button type="submit">Registrar</button>


         </form>

       

    </div>

   
    
</body>


<script>    

    function horaAtual(){
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();

        var data_formatada = day + "/" + month + "/" + year + " : " + hour + ':' + minute;
        
        document.getElementById("horaAqui").value = data_formatada;
    }

    horaAtual();

</script>

</html>